<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="logo-footer">

    <div class="footer-list-container">
        <ul class="footer-list">
            <li type="none"><a href="">Contacto</a></li>
            <li type="none"><a href="">Quiénes somos</a></li>
            <li type="none"><a href="">Recursos humanos</a></li>
        </ul>
    </div>
    <div class="social-media">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
    </div>

</body>

</html>