<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="main-header-container">    
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <a href="/" class="logo-header-container"> <img class="logo-header" src="\images\logos\BIGSCREENpng.svg"> </a>
        </div>

        <div class="lupa-iniciar">
            <!--<form class="contenedor-barra-busqueda">
                <input type="text" placeholder="Buscar películas" name="busqueda" class="barra-busqueda"> 
                <a href="" class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </a>
            </form>-->

            <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Buscar películas...">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <a href="/carrito" class="cart-btn">
                <i class="fa fa-shopping-cart"></i>
            </a>

            <% if (!user) { %>
                <p class="header-login-button"><a href="/users/login">Iniciar Sesión</a></p>

                <p class="header-signup-button"><a href="/users/register">Registrarse</a></p>
            <% } else { %>

            <a href="/users/profile"><div class="user-btn"> 
                <i class="fas fa-user-circle"></i>
            </div></a>
            <% } %>
        </div>
    </div>

</body>
</html>