<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="main-header-container">    
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <ul class="mobile-nav">

                <% if (locals.userLogged) { %>
                    <li class="mobile-nav-item">
                        <a href="/users/profile" class="mobile-nav-text">Perfil</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="/carrito" class="mobile-nav-text">Carrito</a>
                    </li>
                <% } else { %>
                    <li class="mobile-nav-item">
                        <a href="/users/login" class="mobile-nav-text">Iniciar Sesión</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="/users/register" class="mobile-nav-text">Registrarse</a>
                    </li>
                <% } %>


            </ul>

            <a href="/" class="logo-header-container"> <img class="logo-header" src="\images\logos\BIGSCREENpng.svg"> </a>
        </div>

        <div class="lupa-iniciar">
            <!--<form class="contenedor-barra-busqueda">
                <input type="text" placeholder="Buscar películas" name="busqueda" class="barra-busqueda"> 
                <a href="" class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </a>
            </form>-->

            <div class="search-box" id="search-box">
                <input class="search-txt" type="text" name="search-input" placeholder="Buscar películas..." id="search-input">
                <a class="search-btn" id="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <a href="/carrito" class="cart-btn">
                <i class="fa fa-shopping-cart"></i>
            </a>

            <% if (!locals.isLogged) { %>
                <p class="header-login-button"><a href="/users/login">Iniciar Sesión</a></p>

                <p class="header-signup-button"><a href="/users/register">Registrarse</a></p>
            <% } else { %>

            <!--<a href="/users/profile"><div class="user-btn"> 
                <i class="fas fa-user-circle"></i>
            </div></a>-->

            <div>
                <a href="/users/profile"><img src="/images/users/<%= locals.userLogged.profile_pic %>" alt="profile-pic" class="profile-pic-header"></a>
            </div>
            <% } %>

        </div>

    </div>

    <script type="text/javascript" src="/javascripts/home.js"></script>

</body>
</html>