<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>BigScreen</title>

</head>

<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>
    

    <main>

            <section class="slider-container">
            <div class="slidershow middle">
                <div class="slides">
                
                    <input type="radio" name="r" id="r1" checked>
                
                    <input type="radio" name="r" id="r2">
                
                    <input type="radio" name="r" id="r3">
                
                    <input type="radio" name="r" id="r4">
                
                    <input type="radio" name="r" id="r5">
                
                    <div class="slide s1">
                        <img src="https://www.teahub.io/photos/full/74-742214_alien-covenant-movie-poster.jpg" alt="">
                    </div>
                
                    <div class="slide s2">
                        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a58a7719-0dcf-4e0b-b7bb-d2b725dbbb8e/deu7no3-75f2aea5-d668-4ddd-8d73-9203f8b3004f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E1OGE3NzE5LTBkY2YtNGUwYi1iN2JiLWQyYjcyNWRiYmI4ZVwvZGV1N25vMy03NWYyYWVhNS1kNjY4LTRkZGQtOGQ3My05MjAzZjhiMzAwNGYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mGJeERKLIjquFjWiKP7nqZfaLFv9d4WT40Y-xQqErRo" alt="">
                    </div>
                
                    <div class="slide s3">
                        <img src="https://lafortalezadelasoledad.es/wp-content/uploads/2019/07/1500x500.jpeg" alt="">
                    </div>
                
                    <div class="slide s4">
                        <img src="https://cronicasdelmultiverso.com/wp-content/uploads/2016/02/The-Martian-Teaser-Banner.jpg" alt="">
                    </div>

                    <div class="slide s5">
                        <img src="https://2.bp.blogspot.com/-16cNUY1O6Ro/WTIL7iDSM5I/AAAAAAAAKJA/Mb5EYXMRSPMTeMk5KSCsXghrm_RjDuM-wCLcB/s1600/Wonder%2BWoman%2Bmovie%2Bbanner.jpg" alt="">
                    </div>
                    
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                        <label for="r5" class="bar"></label>
                    </div>
                </div>
            </div>

        </section>

            <section class="peliculas-container-desktop">

            <h2>PELÍCULAS</h2>

            <div class="peliculas-container">
                <div class="peliculas-info">
                    <a href="/movie-detail"><img src="/images/westside-poster.jpg" alt="amor sin barreras poster"></a>
                    <div class="peliculas-titulo">West Side Story</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/gucci-poster.webp" alt="gucci poster"></a>
                    <div class="peliculas-titulo">House of Gucci</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/spiderman-poster.jpg" alt="spiderman: no way home poster"></a>
                    <div class="peliculas-titulo">Spiderman: No Way Home</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/french-poster.webp" alt="french dispatch poster"></a>
                    <div class="peliculas-titulo">The French Dispatch</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/kingsman-poster.jpg" alt="kingsman poster"></a>
                    <div class="peliculas-titulo">King's Man: El Origen</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/scream-poster.jpg" alt="scream poster"></a>
                    <div class="peliculas-titulo">Scream</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/hoysearregla-poster.jpg" alt="hoysearregla poster"></a>
                    <div class="peliculas-titulo">Hoy se arregla el mundo</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/matrix-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Matrix: Resurrections</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/alien-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Alien: Covenant</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/wonderwoman-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Wonder Woman</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/martian-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Martian</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/joker-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Joker</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/dune-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Dune</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/parasite-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Parasite</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/fightclub-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Fight Club</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/dontlookup-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Dont Look Up</div>
                </div>
                
            </div>

        </section>    

        <section class="proximamente">
            
            <h2 class="proximamente-texto">PRÓXIMAMENTE</h2>
            
            <div class="peliculas-container-proximamente">
                <div class="peliculas-info">
                    <a href=""><img src="/images/batman-poster.jpg" alt="batman poster"></a>
                    <div class="peliculas-titulo">Batman</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/ecos-poster.jpg" alt="ecos de un crimen poster"></a>
                    <div class="peliculas-titulo">Ecos de un crimen</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/uncharted-poster.jpg" alt="uncharted poster"></a>
                    <div class="peliculas-titulo">Uncharted: fuera del mapa</div>
                </div>

            </div>

        </section>

    </main>

    <footer>
        <%- include ./partials/footerPartial.ejs %>
    </footer>
</body>
</html>