<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>BigScreen</title>

</head>

<body>
    <header>
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img class="logo-header" src="\images\BIGSCREENpng.svg"> 
        </div>

        <div class="lupa-iniciar">
            <div class="lupa-header">
                <i class="fas fa-search"></i>
            </div>

            <div class="logo-iniciar-sesion">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </header>

    <main>

        <section>

            <h1>peliculas</h1>

            <div class="peliculas-container">
                <div class="peliculas">
                    <img src="https://static.cinepolis.com.ar/posters/1418/w154/amor-sin-barreras-poster-2jpg" alt="amor sin barreras poster">
                    <div class="peliculas-titulo">West side Story</div>
                </div>

                <div class="peliculas">
                    <img src="https://static.cinepolis.com.ar/posters/1508/w154/imagepng" alt="gucci poster">
                    <div class="peliculas-titulo">House of Gucci</div>
                </div>

                <div class="peliculas">
                    <img src="https://static.cinepolis.com.ar/posters/1509/w154/snh-las-online-6072x9000-bluemontage-011jpg" alt="spiderman: no way home">
                    <div class="peliculas-titulo">Spiderman: No Way Home</div>
                </div>
            </div>

        </section>    


    </main>

    <footer>

        <img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="logo-footer">

        <div class="footer-list-container">
            <ul class="footer-list">
                <li type="none"><a href="">Contacto</a></li>
                <li type="none"><a href="">Quiénes somos</a></li>
                <li type="none"><a href="">Recursos humanos</a></li>
            </ul>
        </div>
        <div class="social-media">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>

    </footer>
</body>
</html>