<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>BigScreen</title>

</head>

<body>

    <header>
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img class="logo-header" src="\images\BIGSCREENpng.svg"> 
        </div>

        <div class="lupa-iniciar">
            <div class="lupa-header">
                <i class="fas fa-search"></i>
            </div>

            <div class="logo-iniciar-sesion">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </header>

    <main>

            <section class="probando">
            <div class="slidershow middle">
                <div class="slides">
                
                    <input type="radio" name="r" id="r1" checked>
                
                    <input type="radio" name="r" id="r2">
                
                    <input type="radio" name="r" id="r3">
                
                    <input type="radio" name="r" id="r4">
                
                    <input type="radio" name="r" id="r5">
                
                    <div class="slide s1">
                        <img src="https://i.pinimg.com/736x/8a/e8/ef/8ae8ef153d3ecc867150fc50f47d1e36.jpg" alt="">
                    </div>
                
                    <div class="slide s2">
                        <img src="https://davidcavazos21.files.wordpress.com/2021/12/spider_man_no_way_home_banner_hd_by_andrewvm_deu7no3-fullview.jpg?w=700" alt="">
                    </div>
                
                    <div class="slide s3">
                        <img src="3.jpg" alt="">
                    </div>
                
                    <div class="slide s4">
                        <img src="4.jpg" alt="">
                    </div>
                    
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                        <label for="r5" class="bar"></label>
                    </div>
                </div>
            </div>

        </section>

            <section class="peliculas-container-desktop">

            <h2>PELÍCULAS</h2>

            <div class="peliculas-container">
                <div class="peliculas-info">
                    <a href=""><img src="/images/westside-poster.jpg" alt="amor sin barreras poster"></a>
                    <div class="peliculas-titulo">West Side Story</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/gucci-poster.webp" alt="gucci poster"></a>
                    <div class="peliculas-titulo">House of Gucci</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/spiderman-poster.jpg" alt="spiderman: no way home poster"></a>
                    <div class="peliculas-titulo">Spiderman: No Way Home</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/french-poster.webp" alt="french dispatch poster"></a>
                    <div class="peliculas-titulo">The French Dispatch</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/kingsman-poster.jpg" alt="kingsman poster"></a>
                    <div class="peliculas-titulo">King's Man: El Origen</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/scream-poster.jpg" alt="scream poster"></a>
                    <div class="peliculas-titulo">Scream</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/hoysearregla-poster.jpg" alt="hoysearregla poster"></a>
                    <div class="peliculas-titulo">Hoy se arregla el mundo</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/matrix-poster.jpg" alt="matrix poster"></a>
                    <div class="peliculas-titulo">Matrix: Resurrections</div>
                </div>
            </div>

        </section>    

        <section class="proximamente">
            
            <h2 class="proximamente-texto">PRÓXIMAMENTE</h2>
            
            <div class="peliculas-container-proximamente">
                <div class="peliculas-info">
                    <a href=""><img src="/images/batman-poster.jpg" alt="batman poster"></a>
                    <div class="peliculas-titulo">Batman</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/ecos-poster.jpg" alt="ecos de un crimen poster"></a>
                    <div class="peliculas-titulo">Ecos de un crimen</div>
                </div>

                <div class="peliculas-info">
                    <a href=""><img src="/images/uncharted-poster.jpg" alt="uncharted poster"></a>
                    <div class="peliculas-titulo">Uncharted: fuera del mapa</div>
                </div>

            </div>

        </section>

    </main>

    <footer>

        <img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="logo-footer">

        <div class="footer-list-container">
            <ul class="footer-list">
                <li type="none"><a href="">Contacto</a></li>
                <li type="none"><a href="">Quiénes somos</a></li>
                <li type="none"><a href="">Recursos humanos</a></li>
            </ul>
        </div>
        <div class="social-media">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>

    </footer>
</body>
</html>