<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Iniciar Sesión</title>
</head>

<body>

    <!-- <header>
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img class="logo-header" src="\images\BIGSCREENpng.svg"> 
        </div>

        <div class="lupa-iniciar">
            <form class="contenedor-barra-busqueda">
                <input type="text" placeholder="Buscar películas" name="busqueda" class="barra-busqueda"> 
                <a href="" class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </a>
            </form>

            <p class="header-login-button"><a href="/login">Iniciar Sesión</a></p>

            <p class="header-signup-button"><a href="/register">Registrarse</a></p>

        </div>
    </header> -->

    <main>
        
        <a href="/" class="login-logo"> <img src="\images\logos\BIGSCREENpng2.svg"> </a>

        <div class="main-login-div">
        
            <!--<img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="login-logo">-->

            <div class="login-text-container"> <p>INICIAR SESIÓN</p> </div>
            
            <form action="/users/login" method="POST">

                <div class="contenedor-input">
                    <input type="email" name="email" id="email" placeholder="E-Mail" class="campos-texto" value="<%= locals.oldData ? oldData.email : null %>">
                </div>
                 <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                 <% } %>

                <div class="contenedor-input">
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="campos-texto">
                </div>

                <div class="contenedor-button">
                    <button type="submit" class="login-button"> <strong>Iniciar sesión</strong> </button>
                </div>

                <div class="forgot-password">
                    <a href="">Olvidé mi contraseña</a>
                </div>
                
                <div class="google-login">
                    <a href="">Iniciar sesión con Google</a>
                </div>

            </form>
        </div>

        <p class="google-login">¿No estás registrado? <a href="/users/register">Creá tu cuenta</a></p>

    </main>

</body>
</html>