<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/movie-detail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>BigScreen</title>

</head>

<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

    <main class="detail-main-container">
        
        <div class="details-container">

            <div class="poster-info-container">

                <img src="https://cinembrollos.files.wordpress.com/2021/09/west_side_story_ver3_xlg.jpg" alt="westside-poster" class="poster-detail">

            </div>

            <div class="trailer-description-container">

                <div class="movie-info">
                    <h3>West Side Story</h3>
                    <p> <strong>Director:</strong> Steven Spielberg <br>
                        <strong>Actores:</strong> Ansel Elgort, Rachel Zegler, Rita Moreno, Ariana DeBose, David Alvarez, Corey Stoll, Brian d'Arcy James, Josh Andrés Rivera, Mike Faist, Ana Isabelle <br>
                        <strong>Género:</strong> Música, Romance <br>
                        <strong>Duración:</strong> 156 min.
                    </p>
                    <span>Dos adolescentes de diferentes raíces étnicas se enamoran en la ciudad de Nueva York de los años 50. Nueva versión del legendario musical West Side Story sobre el enfrentamiento entre dos bandas callejeras de Nueva York, adaptación de una famosa obra de teatro de Broadway.</span>
                </div>
                
                <div class="trailer-container">
                    <iframe src="https://www.youtube.com/embed/A5GJLwWiYSg" frameborder="0" allowfullscreen="allowfullscreen" class="trailer-movie" width="420" height="315"></iframe>
                </div>
                
                <div class="contenedor-button-compra">
                    <a href="/movies/carrito"><button type="submit" class="login-button"> <strong> Comprá tu entrada </strong> </button></a>
                </div>

            </div>

        </div>

        <!--<div class="contenedor-button-compra">
            <button type="submit" class="login-button"> <strong> Eliminar película </strong> </button>
        </div>-->
    </main>

    <footer>
        <%- include ./partials/footerPartial.ejs %>
    </footer>
</body>
</html>