<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Registrarse</title>
</head>

<body>

    <!-- <header>
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img class="logo-header" src="\images\BIGSCREENpng.svg"> 
        </div>

        <div class="lupa-iniciar">
            <form class="contenedor-barra-busqueda">
                <input type="text" placeholder="Buscar películas" name="busqueda" class="barra-busqueda"> 
                <a href="" class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </a>
            </form>

            <p class="header-login-button"><a href="/login">Iniciar Sesión</a></p>

            <p class="header-signup-button"><a href="/register">Registrarse</a></p>

        </div>
    </header> -->

<main>
        
    <a href="/" class="login-logo"> <img src="\images\logos\BIGSCREENpng2.svg"> </a>
    
    <div class="main-login-div">
    
        <!--<img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="login-logo">-->

        <div class="login-text-container"> <p>REGISTRARSE</p> </div>
        
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            
            <div class="contenedor-input">
                <input type="text" name="name" id="name" placeholder="Nombre" class="campos-texto">
            </div>

            <div class="contenedor-input">
                <input type="text" name="surname" id="surname" placeholder="Apellido" class="campos-texto">
            </div>

            <div class="contenedor-input">
                <input type="email" name="email" id="email" placeholder="E-Mail" class="campos-texto">
            </div>

            <div class="contenedor-input">
                <input type="number" name="phone" id="phone" placeholder="Télefono" class="campos-texto">
            </div>

            <div class="contenedor-input">
                <select id="complejo" name="complejo">
                    <option disabled selected>Elegí tu complejo de Preferencia:</option>
                    <% let complex = ['Caballito', 'Recoleta', 'Nordelta'];%>
                        <% for (const oneComplex of complex) { %>
                        <option value="<%= oneComplex %>"> <%= oneComplex %> </option>
                        <% } %>
                </select>
            </div>

            <div class="contenedor-input">
                <input type="password" name="password" id="password" placeholder="Crear Contraseña" class="campos-texto">
            </div>

            <div class="contenedor-input">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" class="campos-texto">
            </div>

            <label for="image">Imagen de perfil</label>
            <div class="contenedor-input">
                <input type="file" name="profilePic" id="profilePic" class="campos-texto" value="">
            </div>

            <div class="contenedor-button">
                <button type="submit" class="login-button"><strong>Registrarse</strong></button>
            </div>

        </form>
    </div>
</main>