* {
    box-sizing: border-box;
  }
  
  /*@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");*/
  
  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  
  main{  
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .movie-title {
    text-align: center;
    color: #efefef;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .asientos-container {
    flex-direction: column;
  }

  #flex{
    display: flex;
    margin-top: 1px;
  }
  
  .contenedor-de-peliculas {
    margin: 5px 5px;
    padding: 5px;
  }
  
  .contenedor-de-peliculas select {
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .contenedor {
    perspective: 1000px;
    margin-bottom: 30px;
    padding: 30px;
  }
  
  .asiento {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.1s;
  }
  
  .asiento.seleccionado {
    background-color:rgb(82, 248, 41);
  }
  
  .asiento.ocupado {
    background-color: red;
  }
  
  .asiento:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .asiento:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .asiento:not(.sold):hover {
    cursor: pointer;
    transform: scale(0.5);
    background-color: #8f8fa1;
  }
  
  .showcase .asiento:not(.sold):hover {
    cursor: default;
    transform: scale(0.5);
  }
  
  .showcase {
    background: rgb(187, 172, 197);
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }
  
  .fila {
    display: flex;
  }
  
  .pantalla {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  .texto{
    background: rgb(187, 172, 197);
    padding: 20px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  p.texto{
      margin: 5px 0;
  }
  
  p.texto span{
      color: rgb(65, 6, 121);
  }
