body {
    background-color: #171717;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 950px;
    flex-direction: column;
}

.cart-title {
    margin-top: 60px;
    color: #efefef;
    text-align: center;
    width: 100%;
}

.table-container {
    display: flex;
    width: 100%;
    padding: 0px 8px 0 8px;
    flex-direction: column;
}

.article-price {
    display: flex;
    width: 100%;
    color: #efefef;
    justify-content: space-between;
}

.ticket {
    color: #171717;
    background-image: linear-gradient(to right top, #e7de93, #e5de98, #e4df9e, #e2dfa3, #e1dfa8);
    height: 75px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 0
}

.ticket-movie-title {
    font-size: 20px;
    margin: 0px 0px 2px 0px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
}

.ticket-extra-info {
    margin: 2px 0 0 0;
}

.ticket-price {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px dashed #171717;
    width: 85px;
}

.ticket-price p {
    margin: 0;
}

.ticket-info {
    width: 100%;
    padding: 5px;

}

.total-container {
    color: #efefef;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 5px;
    margin-top: 20px;
    border-top: #efefef solid 2px;
}

.total-text {
    margin: 2px 0
}

.total-price {
    margin: 2px 0;
    font-size: 20px
}

.mp-link {
    text-decoration: none;
    cursor: pointer;
}

.mp-login {
    height: 35px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    font-weight: bolder;
}

.mp-icon {
    width: 112px;
}

.hidden {
    display: none;
}

#container-checkout {
    margin-top: 10px;
    transition: 2s;
}

.mercadopago-button {
    color: black;
    cursor: pointer;
}

@media (min-width: 768px) {
    .cart-title {
        margin-top: 70px;
        color: #efefef;
        text-align: left;
        width: 100%;
    }

    main {
        padding-bottom: 100px;
    }
}