@media (min-width: 768px) {

    .peliculas-container-desktop {
        padding-left: 20%;
        padding-right: 20%;
    }

    .proximamente-texto, .peliculas-container-proximamente {
        padding-left: 20%;
        padding-right: 20%;
    }

    .main-login-div {
        width: 400px;
    }

    .logo-header {
        padding: 0px;
    }

    .lupa-iniciar {
        display: flex;
        width: 45%;
        align-items: center;
    }
    
        .contenedor-logo-busqueda {
            display: flex;
            align-items: center;
        }
    
        .contenedor-barra-busqueda {
            display: flex;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            background: white;
            border-radius: 10px;
            padding: 10px;
            height: 40px;
        }
    
            .barra-busqueda {
                border: none;
                background: none;
                outline: none;
                height: 100%;
                width: 80%;
            }
    
        .header-login-button {
            width: 375px;
            text-align: center;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;
            padding: 10px;
            height: 40px;
            cursor: pointer;
        }

            .header-login-button a {
                text-decoration: none;
            }
    
        .header-signup-button {
            width: 375px;
            text-align: center;
        }

            .header-signup-button a {
                color: white;
            }

    .peliculas-info img:hover{
        margin: 0px;
        margin-bottom: 7px;
        box-shadow: 0px 0px 10px rgb(48, 48, 48);
    }

/*          MOVIE DETAIL            */

    .detail-main-container {
        flex-direction: row;
        justify-content: left;
    }

    .trailer-movie {
        width: 80%;
        margin: 0px 20px 20px 0px;
    }

    .poster-info-container {
        width: 30%;
    }
    
    .trailer-button-container {
        width: 70%;
    }

}    