@media (min-width: 768px) {
    .probando {
        padding-left: 10%;
        padding-right: 10%;
    }

    .peliculas-container-desktop {
        padding-left: 20%;
        padding-right: 20%;
    }

    .proximamente-texto, .peliculas-container-proximamente {
        padding-left: 20%;
        padding-right: 20%;
    }

    .main-login-div {
        width: 400px;
    }
}    