@media (min-width: 768px) {

    .peliculas-container-desktop {
        width: 950px;
        margin: 0 auto;
    }

    /*.proximamente-texto, .peliculas-container-proximamente {
        padding-left: 20%;
        padding-right: 20%;
    }*/

    .main-login-div {
        width: 400px;
    }

    .main-form-div {
        width: 400px;
    }

/*        HEADER        */

    header {
        box-shadow: -10px 8px 10px #171717;
    }

    .burger-menu {
        display: none;
    }

    .logo-header {
        padding: 0px;
        width: 145px;
        transition: 0.1s;
    }

        .logo-header:hover {
            filter: contrast(100);
            
        }

    .lupa-iniciar {
        display: flex;
        width: 65%;
        align-items: center;
        justify-content: right;
    }
    
        .contenedor-logo-busqueda {
            display: flex;
            align-items: center;
        }
    
        .contenedor-barra-busqueda {
            display: flex;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            background: white;
            border-radius: 10px;
            padding: 10px;
            height: 40px;
        }
    
            .barra-busqueda {
                border: none;
                background: none;
                outline: none;
                height: 100%;
                width: 95%;
            }
    
        .header-login-button {
            width: 375px;
            max-width: 130px;
            text-align: center;
            background-color: #e3e3e3;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 5px 10px 5px;
            border-radius: 5px;
            padding: 10px;
            height: 40px;
            cursor: pointer;
            transition: 0.1s;
        }

            .header-login-button:hover {
                background-color: #adadad;
            }

            .header-login-button a {
                text-decoration: none;
                color: #171717;
                font-weight: 600;
            }
    
        .header-signup-button {
            width: 375px;
            max-width: 100px;
            text-align: center;
        }

            .header-signup-button a {
                color: #e3e3e3;
                font-weight: 600;
                text-decoration: none;
            }

            .header-signup-button a:hover {
                color: #adadad;
                font-weight: 600;
                text-decoration: none;
            }

            .profile-pic-header {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 2px solid white;
                cursor: pointer;
                transition: 0.1s;
            }

            .profile-pic-header:hover {
                opacity: 80%;
            }

/*          HOME        */
    
    .peliculas-info img {
        /*box-shadow: 0px 0px 10px rgb(137, 137, 137);*/
        border: 2px solid #e3e3e3;
    }

        .peliculas-info img:hover{
            margin: 0px;
            margin-bottom: 7px;
            /*box-shadow: 0px 0px 10px rgb(48, 48, 48);*/
        }

    .titulo-section {
        text-align: left;
    }

    .peliculas-container {
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 1px solid #e3e3e3;
    }

/*          MOVIE DETAIL            */

    .detail-body {
        /* background-image: url('/images/backgrounds/Remini20220227163316232.jpg'); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }

        .detail-main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 75px 0px 100px 0px;
    }

    .details-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: rgba(23, 23, 23, 90%);
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        border-radius: 10px;
        width: 1000px;
        height: 700px;
        margin: 140px auto 50px auto;
    }

    .trailer-container {
        width: 440px;
        margin: auto
    }
    
    .trailer-movie {
        width: 420px;
        height: 315px;
        margin: 0px 20px 20px 0px;
    }
    
    .trailer-description-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .poster-detail {
        border: 2px solid #e3e3e3;
        max-height: 655px;
        border-radius: 0px;
    }
    
    .poster-info-container {
        width: 1010px;
    }

    .edit-delete-container {
        display: flex;
    }

/*          FOOTER           */

    .main-footer-container {
        width: 950px;
        margin: 0px auto;
    }

}