@media (min-width: 768px) {

    .peliculas-container-desktop {
        padding-left: 20%;
        padding-right: 20%;
    }

    .proximamente-texto, .peliculas-container-proximamente {
        padding-left: 20%;
        padding-right: 20%;
    }

    .main-login-div {
        width: 400px;
    }

    .logo-header {
        padding: 0px;
    }

    .lupa-iniciar {
        display: flex;
        width: 45%;
        align-items: center;
    }
    
        .contenedor-logo-busqueda {
            display: flex;
            align-items: center;
        }
    
        .contenedor-barra-busqueda {
            display: flex;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            background: white;
            border-radius: 10px;
            padding: 10px;
            height: 40px;
        }
    
            .barra-busqueda {
                border: none;
                background: none;
                outline: none;
                height: 100%;
                width: 80%;
            }
    
        .header-login-button {
            width: 375px;
            text-align: center;
            color: #3f146a;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;
            padding: 10px;
            height: 40px;
            cursor: pointer;
        }

            .header-login-button a {
                text-decoration: none;
            }
    
        .header-signup-button {
            width: 375px;
            text-align: center;
        }

            .header-signup-button a {
                color: white;
            }

    .peliculas-info img:hover{
        margin: 0px;
        margin-bottom: 7px;
        box-shadow: 0px 0px 10px rgb(48, 48, 48);
    }

/*          MOVIE DETAIL            */

    body {
        background-image: url('/images/Remini20220227163316232.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

        .detail-main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: lightgrey;
        border-radius: 10px;
        width: 1000px;
        margin: 85px auto 50px auto;
    }

    .trailer-container {
        width: 440px;
        margin: auto
    }
    
    .trailer-movie {
        width: 420px;
        height: 315px;
        margin: 0px 20px 20px 0px;
    }
    
    .trailer-description-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .poster-detail {
        box-shadow: 0px 0px 10px rgb(137, 137, 137);
    }

}    