body {
    background-image: url(https://images7.alphacoders.com/341/thumb-1920-341191.jpg);
    background-blend-mode: overlay;
    background-size: cover;
}

.main-login-div {
    margin: 20px 10% 5px 10%;
    text-align: center;
    background-color: #acacac;
    border-radius: 5px;
    padding: 5px 25px 50px 25px;
}

.main-form-div {
    margin: 20px 20% 5px 20%;
    text-align: center;
    background-color: #acacac;
    border-radius: 5px;
    padding: 5px 25px 50px 25px;
    margin-top: 120px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }


/*     LOGIN     */

    .login-logo img{
        width: 200px;
        margin-top: 100px;
    }

    .login-text-container {
        font-size: 25px;
        border-bottom: 2px solid rgb(85, 85, 85);
        width: 100%;
    }

        .login-text-container p {
            color: rgb(85, 85, 85);
            font-weight: bold;
            margin: 15px 0px 10px 0px;
            padding: 0px;
        }
    
    main form {
        margin-top: 30px;
    }

    .contenedor-input{
        display: flex;
        justify-content: left;
        background: white;
        border-radius: 5px;
        border: 1px solid white;
        padding: 8px;
        height: 40px;
        width: 100%;
        margin: 20px 0px 20px 0px;
        transition: all 200ms ease-in;
    }

        .contenedor-input:hover {
            border: 1px solid rgb(134, 134, 134);
        }

    .contenedor-textarea {
        display: flex;
        justify-content: left;
        background: white;
        border-radius: 5px;
        border: 1px solid white;
        padding: 8px;
        height: 100px;
        width: 100%;
        margin: 20px 0px 20px 0px;
        transition: all 200ms ease-in;
    }

    .contenedor-textarea:hover {
        border: 1px solid rgb(134, 134, 134);
    }
        
        .campos-texto {
            border: none;
            background: none;
            outline: none;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            resize: none;
        }

    .contenedor-button{
        display: flex;
        justify-content: left;
        background: #3f146a;
        border-radius: 5px;
        padding: 10px;
        height: 40px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 100ms;
        cursor: pointer;
    }

        .contenedor-button:hover {
            background-color: #2a0a49;
        }

        .login-button {
            border: none;
            background: none;
            outline: none;
            width: 100%;
            color: white;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
        }

    .google-login, .forgot-password-div {
        font-size: 13px;
        margin: 10px 0px 10px 0px;
        color: #e3e3e3;
    }

    .forgot-password {
        text-decoration: none;
    }

    .google-link {
        text-decoration: none;
    }
    
    .google-login {
        background-color: white;
        margin: auto;
        height: 35px;
        width: 210px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        padding: 8px;
        color: #555555;
        box-shadow: 0px 5px 10px rgb(137 137 137);
        font-family: 'Montserrat', sans-serif;
        border: 1px solid #8b8be9;
    }

    .google-icon {
        width: 25px;
    }

    .remember-checkbox {
        display: flex;
        font-family: 'Montserrat', sans-serif;
    }

    .not-registered {
        color: #efefef;
    }

    .create-account {
        color: #efefef;
    }

        .remember-checkbox p {
            margin: auto 0;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            color: #4c4c4c;
            font-weight: 600;
        }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        background-color: #efefef;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s;
        outline: none;
    }

        input[type="checkbox"]:after {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 14px;
            color: #3f146a;
            content: "\f00c";
            display: none;
        }

        input[type="checkbox"]:hover {
            background-color: #d1d1d1;
        }

        input[type="checkbox"]:checked:after{
            display: block;
        }


/*     REGISTER     */

select {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    /*color:rgb(117, 117, 117)*/
}

select option {
    color: black;
}

.text-danger {
    color: red;
    text-align: left;
    margin: -15px 0px 15px 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.text-danger-actors {
    color: red;
    text-align: left;
    margin: 5px 0px 15px 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.register-label {
    text-align: left;
    cursor: pointer;
}

label{
    height: 40px;
    width: 100%;
    margin: auto;
    font-size: 14px;
    align-items: center;
    font-family: "Montserrat",sans-serif;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-icon {
    font-family: "Font Awesome 6 Free";
    content: "\f03e";
}

.fa-image {
    color: #3f146a;
}

.campos-texto-hidden {
    display: none;
}

.contenedor-input-hidden {
    display: none;
}

.pic-icon {
    color: #686868
}

/*     VALIDACIONES     */

.input-invalid {
    border: 1px solid rgb(228, 65, 65);
    background-color: #fcdada;
}

.input-valid {
    border: 1px solid rgb(80, 204, 80);
    background-color: #fafff9;
}
