.main-login-div {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 20px 20% 5px 20%;
    text-align: center;
    background-color: #acacac;
    border-radius: 5px;
    padding: 5px 25px 50px 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }


/*     LOGIN     */

    .login-logo img{
        width: 200px;
        margin-top: 100px;
    }

    .login-text-container {
        font-size: 25px;
        border-bottom: 2px solid rgb(85, 85, 85);
        width: 100%;
    }

        .login-text-container p {
            color: rgb(85, 85, 85);
            font-weight: bold;
            margin: 15px 0px 10px 0px;
            padding: 0px;
        }
    
    main form {
        margin-top: 30px;
    }

    .contenedor-input{
        display: flex;
        justify-content: left;
        background: white;
        border-radius: 10px;
        border: 2px solid white;
        padding: 8px;
        height: 40px;
        width: 100%;
        margin: 20px 0px 20px 0px;
        transition: all 200ms ease-in;
    }

        .contenedor-input:hover {
            border: 2px solid rgb(134, 134, 134);
        }

        .campos-texto {
            border: none;
            background: none;
            outline: none;
            width: 100%;
        }

    .contenedor-button{
        display: flex;
        justify-content: left;
        background: #3f146a;
        border-radius: 10px;
        padding: 10px;
        height: 40px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 100ms;
        cursor: pointer;
    }

        .contenedor-button:hover {
            background-color: #2a0a49;
        }

        .login-button {
            border: none;
            background: none;
            outline: none;
            width: 100%;
            color: white;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
        }

    .google-login, .forgot-password {
        font-size: 13px;
        margin: 10px 0px 10px 0px
    }



/*     REGISTER     */

select {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    /*color:rgb(117, 117, 117)*/
}

select option {
    color: black;
}