.detail-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-container {
    margin-top: 85px;
}

.poster-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster-detail {
    margin: auto;
    width: 90%;
    border-radius: 5px
}

.movie-info {
    margin: 0px 20px 10px 20px ;
    color: #e3e3e3;
}

.trailer-description-container {
    width: 100%;
    padding: 10px;
}

.trailer-movie {
    width: 100%;
    margin-bottom: 20px;
}

.contenedor-button-compra {
    display: flex;
    justify-content: center;
    background: #e3e3e3;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    transition: all 100ms;
    cursor: pointer;
    margin: 20px 60px 20px 60px;
}

.contenedor-button-compra:hover {
    background-color: #adadad;
}

.login-button {
    text-align: center;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: #171717;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}