main {
    max-width: 950px;
    margin: 60px auto;
    position: relative;
    z-index: 10;
}

.profile-pic-container {
    width: 30%;
    border: 2px solid #efefef;
    border-radius: 2px
}

.profile-pic-img {
    width: 100%;
    height: 100%;
}

.user-info-container {
    margin-left: 10px;
    width: 180%;
    display: flex;
    flex-direction: column;
}

.user-info {
    margin: 5px 0px 10px 35px;
    color: #efefef;
    border: 1px solid #a9a9a9;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    background-color: transparent;
}

.user-title {
    color: #efefef;
    font-weight: bold;
}

.user-box {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.logout-btn-container {
    display: flex;
    justify-content: left;
    background: #a72a2a;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    width: 140px;
    transition: all 100ms;
    cursor: pointer;
    align-items: center;
    margin: 30px auto;
}

    .logout-btn-container:hover {
        background-color: #641a1a;
    }

.login-btn {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.logout-link {
    border: none;
    background: none;
    outline: none;
}

.main-container {
    display: flex;
}

.user-edit-form {
    margin: auto 10px;
    border: 2px solid grey;
    border-radius: 8px;
    width: 60%;
}

.campos-texto-edit {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    resize: none;
    color: white;
    font-size: 16px;
    margin: 5px;
}

.btn-container {
    display: flex;
}

.edit-btn-container {
    display: flex;
    justify-content: left;
    background: #a72a2a;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    width: 140px;
    transition: all 100ms;
    cursor: pointer;
    align-items: center;
    margin: 30px auto;
}

    .edit-btn-container:hover {
        background-color: #641a1a;
    }
