* {
    box-sizing: border-box;
  }
  
  /*@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");*/
    
  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  
  main{  
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .movie-title {
    text-align: center;
    color: #efefef;
    font-size: 20px;
  }

  .asientos-container {
    flex-direction: column;
  }

  .contenedor-de-opciones {
    /*margin: 5px 5px;
    padding: 5px;
    width: 100%;
    display: flex;*/
  }

  .select-box {
    background: #414141;
    border-radius: 4px;
    margin: 2px 5px;
    padding: 4px;
    opacity: 0.8;
  }

  .select-box select {
    /*appearance: none;*/
    background-color: transparent;
    border: none;
    color: #efefef;
    height: 30px;
    width: 200px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .select-box option {
    color: #efefef;
    background-color: #414141;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
  }

  #flex{
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  
  .contenedor-de-peliculas {
    margin: 5px 5px;
    padding: 5px;
  }
  
  .contenedor-de-peliculas select {
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .contenedor {
    perspective: 1000px;
    padding: 30px;
    width: 340px;
    margin: 0 auto;
  }
  
  .selected {
    background-color: green;
    border: 2px solid #004d00;
    height: 25px;
    width: 28px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 0.1s;
    cursor: pointer;
  }

    .selected:hover{
      background-color: #004d00
    }

  .occupiedSeat {
    background-color: rgb(82, 82, 82);
    height: 25px;
    width: 28px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 0.1s;
  }

  .asiento {
    background-color: #9b9b9b;
    border: 2px solid white;
    height: 25px;
    width: 28px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 0.1s;
    cursor: pointer;
  }

    .asiento:hover{
      background-color: #666666
    }
  
  .asiento.seleccionado {
    background-color:green;
  }
  
  .asiento.ocupado {
    background-color: red;
  }
  
  .asiento:nth-of-type(2),
  .selected:nth-of-type(2),
  .occupiedSeat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .asiento:nth-last-of-type(2),
  .selected:nth-last-of-type(2),
  .occupiedSeat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  /*.asiento:not(.sold):hover,
  .selected:not(.sold):hover,
  .occupiedSeat:not(.sold):hover {
    cursor: pointer;
    transform: scale(0.5);
    background-color: #8f8fa1;
  }
  
  .showcase .asiento:not(.sold):hover,
  .showcase .selected:not(.sold):hover,
  .showcase .occupiedSeat:not(.sold):hover {
    cursor: default;
    transform: scale(0.5);
  }*/

  .showcase {
    background: rgba(65, 65, 65, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 170px;
    align-items: start;
    margin: 20px auto 0px;
    color: #efefef
  }

  .hidden {
    display: none;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }
  
  .fila {
    display: flex;
  }
  
  .pantalla {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  .texto{
    background: rgb(187, 172, 197);
    padding: 20px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  p.texto{
      margin: 5px 0;
  }
  
  p.texto span{
      color: rgb(65, 6, 121);
  }

