* {
    box-sizing: border-box;
}

body {
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

        .main-header-container {
            display: flex;
            justify-content: space-between;
            width: 950px;
            margin: 0px auto;
        }

        .search-box {
            height: 40px;
            border-radius: 5px;
            padding-left: 5px;
            margin: 10px;
            transition: 0.4s;
        }

        .search-box:hover {
            background: #ffffff;;
        }

        .search-box:hover > .search-btn {
            color: #171717
        }

        .search-box:hover > .logo-header-container {
            background-color: #fff;
        }

        .search-btn {
            color: #ffffff;
            float: right;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        
        .search-box:hover > .search-txt{
            width: 240px;
            padding: 0 6px;
        }

        .search-txt {
            border:none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: black;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
        }

        .cart-btn {
            color: white;
            margin-right: 15px;
        }

        .user-btn {
            color: white;
            font-size: 30px;
            cursor: pointer;
        }


header {
    background-color: #171717;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.burger-logo {
    display: flex;
}

.lupa-iniciar {
    display: none;
}

.logo-header-container {
    display: flex;
    align-items: center;
}

.logo-header {
    width: 150px;
    padding: 10px;
}

.burger-menu {
    padding: 10px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

/*.logo-iniciar-sesion {
    font-size: 24px;
    color: white;;
} */


/*MAIN*/

.slider-container {
    width: 100%;
    padding-top: 44.4px;
    margin-bottom: 45px
}

.slidershow{
    width: 100%;
    overflow: hidden;
}
    
.middle{
    position: relative;
}

.navigation{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
   }

.bar{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: e;
}
  
#r2:checked ~ .s1{
    margin-left: -20%;
}
  
#r3:checked ~ .s1{
    margin-left: -40%;
}
  
#r4:checked ~ .s1{
    margin-left: -60%;
}
  
#r5:checked ~ .s1{
    margin-left: -80%;
}

.titulo-section {
    /*margin-left: 55px;*/
    text-align: center;
    color: #e3e3e3;
    font-weight: 600;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;;
}

/*.proximamente {
    margin-bottom: 20px;
}

.proximamente-texto {
    color: black;
}

.peliculas-container-proximamente {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}*/

.peliculas-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}

.peliculas-info {
    max-width: 300px;
    margin-bottom: 10px;
    width: 100%;
}

.peliculas-info img {
    height: 228px;
    width: 154px;
    margin: 10px 0px 0px 0px;
    transition: all 100ms ease-in;
    border-radius: 2px
}

.peliculas-titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 100ms ease-in;
    margin: 0px;
    color: #e3e3e3;
}

/* FOOTER */

footer {
    background-color: #171717;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 120px;
    margin-top: 20px;
}

.footer-list {
    padding: 0px;
    text-align: center;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}

.footer-list-container {

}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a i {
    margin-right: 5px;
    color: white;
    padding-bottom: 10px;
}
