* {
    box-sizing: border-box;
}

body {
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*       BUSQUEDA       */









.search-txt {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.search-txt-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 47px;
    /* left: 0; */
    /* right: 0; */
    width: 280px;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-txt-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.search-txt-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.search-txt-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.link-class {
    color: #171717;
    text-decoration: 'none';
}













/* HEADER */

        .main-header-container {
            display: flex;
            justify-content: space-between;
            width: 950px;
            margin: 0px auto;
        }

        .mobile-nav {
          position: absolute;  
          left: 0px;
          height: 95vh;
          top: 3.3vh;
          background-color: #171717;
          display: flex;
          flex-direction: column;
          width: 50%;
          transform: translate(-100%);
          transition: transform 0.2s ease-in;
          padding: 0;
        }

        .mobile-nav-item {
            list-style: none;
            margin: 10px;
        }

        .mobile-nav-text {
            text-decoration: none;
            color: #efefef;
            font-size: 20px;
        }

        .mobile-nav-active {
            transform: translate(0%);
        }

        .search-box {
            height: 40px;
            border-radius: 5px;
            /*padding-left: 5px;*/
            margin: 10px;
            transition: 0.4s;
        }

        .search-box:hover {
            background: #ffffff;
        }

        .search-box:hover > .search-btn {
            color: #171717
        }

        .search-box:hover > .logo-header-container {
            background-color: #fff;
        }

        .search-box:hover > .search-txt{
            width: 240px;
            max-width: 240px;
            padding: 0 6px;
            color: #171717;
        }

        .search-txt:focus {
            width: 240px;
            padding: 0 6px;
        }

        .bgcblack {
            background-color: #171717;
        }

        .bgcwhite {
            background-color: #ffffff;
        }

        .btnblack {
            color: #171717;
        }

        .btnwhite {
            color: #ffffff;
        }

        .search-btn {
            color: #ffffff;
            float: right;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: all 0.1s;
        }

        .search-txt {
            border:none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: black;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
        }

        .cart-btn {
            color: white;
            margin-right: 15px;
            transition: 0.1s;
        }

            .cart-btn:hover {
                color: rgb(182, 182, 182);
            }

        .user-btn {
            color: white;
            font-size: 30px;
            cursor: pointer;
            transition: 0.1s;
        }

            .user-btn:hover {
                color: rgb(182, 182, 182);
            }


header {
    background-color: #171717;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.burger-logo {
    display: flex;
    cursor: pointer;
}

.lupa-iniciar {
    display: none;
}

.logo-header-container {
    display: flex;
    align-items: center;
}

.logo-header {
    width: 150px;
}

.burger-menu {
    padding: 10px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

/*.logo-iniciar-sesion {
    font-size: 24px;
    color: white;;
} */


/*MAIN*/

.slider-container {
    width: 100%;
    padding-top: 44.4px;
    margin-bottom: 45px
}

.slidershow{
    width: 100%;
    overflow: hidden;
}
    
.middle{
    position: relative;
}

.navigation{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
   }

.bar{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: e;
}
  
#r2:checked ~ .s1{
    margin-left: -20%;
}
  
#r3:checked ~ .s1{
    margin-left: -40%;
}
  
#r4:checked ~ .s1{
    margin-left: -60%;
}
  
#r5:checked ~ .s1{
    margin-left: -80%;
}

.titulo-section {
    /*margin-left: 55px;*/
    text-align: center;
    color: #e3e3e3;
    font-weight: 600;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;;
}

/*.proximamente {
    margin-bottom: 20px;
}

.proximamente-texto {
    color: black;
}

.peliculas-container-proximamente {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}*/

.peliculas-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}

.peliculas-info {
    max-width: 300px;
    margin-bottom: 10px;
    width: 100%;
}

.peliculas-info img {
    height: 228px;
    width: 154px;
    margin: 10px 0px 0px 0px;
    transition: all 100ms ease-in;
    border-radius: 2px
}

.peliculas-titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 100ms ease-in;
    margin: 0px;
    color: #e3e3e3;
}

/* FOOTER */

footer {
    background-color: #171717;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 120px;
    margin-top: 20px;
}

.footer-list {
    padding: 0px;
    text-align: center;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a i {
    margin-right: 5px;
    color: white;
    padding-bottom: 10px;
}
