* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #3f146a;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.burger-logo {
    display: flex;
}

.lupa-iniciar {
    display: flex;
}

.logo-header {
    width: 150px;
    padding: 10px;
}

.burger-menu {
    padding: 10px;
    font-size: 25px;
    color: white;
}

.logo-iniciar-sesion {
    font-size: 24px;
    color: white;
    padding: 10px;
}

.lupa-header {
    font-size: 24px;
    color: white;
    padding: 10px;
}

/*MAIN*/

.probando {
    width: 100%;
    padding-top: 49px;
}

.slidershow{
    width: 100%;
    overflow: hidden;
}
    
.middle{
    position: relative;
}

.navigation{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
   }

.bar{
    width: 20px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: e;
}
  
#r2:checked ~ .s1{
    margin-left: -20%;
}
  
#r3:checked ~ .s1{
    margin-left: -40%;
}
  
#r4:checked ~ .s1{
    margin-left: -60%;
}
  
#r5:checked ~ .s1{
    margin-left: -80%;
}

h2 {
    margin-left: 55px;
    color: rgb(90, 90, 90);
    padding-top: 15px;
}

.proximamente {
    background-color: rgb(128 128 128);
    margin-bottom: 20px;
}

.proximamente-texto {
    color: black;
}

.peliculas-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}

.peliculas-container-proximamente {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}

.peliculas-info {
    max-width: 300px;
    margin-bottom: 10px;
    width: 100%;
}

.peliculas-info img {
    height: 228px;
    width: 154px;
}

.peliculas-titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */

footer {
    background-color: #3f146a;
}

.logo-footer {
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}

.footer-list-container {
    margin-left: -20px;
}

.social-media {
    display: flex;
    margin-left: 15px;
}

.social-media a i {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding-bottom: 10px;
}
