body {
    background-color: rgb(231, 231, 231);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #3f146a;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.burger-logo {
    display: flex;
}

.lupa-iniciar {
    display: flex;
}

.logo-header {
    width: 150px;
    padding: 10px;
}

.burger-menu {
    padding: 10px;
    font-size: 25px;
    color: white;
}

.logo-iniciar-sesion {
    font-size: 24px;
    color: white;
    padding: 10px;
}

.lupa-header {
    font-size: 24px;
    color: white;
    padding: 10px;
}

/*MAIN*/

h2 {
    margin-left: 55px;
    color: rgb(90, 90, 90);
}

.peliculas-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}

.peliculas-info {
    max-width: 300px;
    margin-bottom: 10px;
    width: 100%;
}

.peliculas-info img {
    height: 228px;
    width: 154px;
}

.peliculas-titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */

footer {
    background-color: #3f146a;
}

.logo-footer {
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}

.footer-list-container {
    margin-left: -20px;
}

.social-media {
    display: flex;
    margin-left: 15px;
}

.social-media a i {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding-bottom: 10px;
}