body {
    background-color: rgb(231, 231, 231);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #2424c7;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.burger-logo {
    display: flex;
}

.lupa-iniciar {
    display: flex;
}

.logo-header {
    width: 150px;
    padding: 10px;
}

.burger-menu {
    padding: 10px;
    font-size: 25px;
    color: white;
}

.logo-iniciar-sesion {
    font-size: 24px;
    color: white;
    padding: 10px;
}

.lupa-header {
    font-size: 24px;
    color: white;
    padding: 10px;
}

/*MAIN*/

.peliculas-container {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,154px);
    grid-gap: 1.5rem;
    justify-content: space-around;
}

.peliculas {
    /*display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 148.05px;*/
    max-width: 300px;
    margin: 10px;
    width: 100%;
}

.peliculas img {
    /*width: 50%;
    height: 148.05px;*/
    width: 100%;
}

.peliculas-titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */

footer {
    background-color: #2424c7;
}

.logo-footer {
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}

.footer-list-container {
    margin-left: -20px;
}

.social-media {
    display: flex;
    margin-left: 15px;
}

.social-media a i {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding-bottom: 10px;
}